{{page-title "AddProduct"}}
<br>
<div class="ui form">
  <div class="two fields">
    <div class="field">
      <Input class="form-control" type="text" placeholder="Nom du produit" @value={{@model.product.name}}/>
    </div>
    <div class="field">
      <Input class="form-control" type="number" placeholder="Prix du produit" @value={{@model.product.price}}/>
    </div>
  </div>
</div>
<div class="ui container">
  <button class="ui button green" {{action "save" @model}}> Enregister </button>
  <button class="ui button secondary" {{action "annuler"}}>Annuler</button>
</div>
{{outlet}}