{{page-title "Contacts"}}
<table class="table table-striped">
  <thead>
  <tr>
    <td>Nom</td>
  </tr>
  </thead>
  <tbody>
  {{#each @model.contacts as |contact|}}
    <tr>
      <td>{{contact.nom}}</td>
      <td>{{contact.prenom}}</td>
      <td>{{contact.email}}</td>
      <td>
        <LinkTo @route="contacts.update" @model={{contact.id}} class="btn btn-primary btn-xs">
          <i class="glyphicon glyphicon-edit"></i>
        </LinkTo>
        <a class="btn btn-danger btn-xs" {{action "delete" contact}}>
          <span class="glyphicon glyphicon-remove-circle"></span>
        </a>
      </td>
    </tr>
  {{/each}}
    <tr>
      <td>
        <LinkTo @route="contacts.add">Ajouter</LinkTo>
      </td>
      {{#if @model.deletedsCount}}
        <td>
          <button class="btn btn-danger" {{action "cancelDeletion" @model.deleteds}}>Annuler la suppression ({{@model.deletedsCount}})</button>
        </td>
      {{/if}}
    </tr>
  </tbody>
</table>
{{outlet}}