{{page-title "Index"}}
<form class="ui form">
  <div class="field">
    <label for="id">Nom d'utilisateur</label>
    <Input @value={{@model.username}} placeholder="Entrez votre nom"/>
  </div>
  <div class="field">
    <label for="pass">Mot de passe</label>
    <Input @value={{@model.pass}} placeholder="Entrez votre email"/>
  </div>
  <button class="ui button" {{action "connect" @model}}>Connecter</button>
</form>
{{outlet}}