{{page-title "Sections"}}
<div class="ui green segment">
  <span class="ui label">{{this.email}}</span>
  <button class="ui black button" {{action "logout"}}>
    Logout
  </button>
</div>
<div class="ui secondary menu">
  <div class="item">
    <h1>Store</h1>
  </div>
  <div class="right menu">
    <LinkTo class="ui button secondary" @route="board">Retour sur le tableau de bord</LinkTo>
  </div>
</div>
<fieldset class="ui segment"><legend>Gestion des sections</legend>
  <div class="ui container">
    <button class="ui green button" {{action "add"}}>Nouvelle section</button>
  </div>
  {{outlet}}
  <div class="ui container">
    <table class="ui table">
      {{#each @model as |sections|}}
        <tr>
          <td><strong>{{sections.name}}</strong><div style="font-size: smaller">{{sections.description}}</div></td>
          <td><LinkTo @route="sections.edit" @model={{sections.id}} class="ui secondary button">Éditer</LinkTo></td>
          <td><LinkTo {{action "delete" sections}} @route="sections.delete" @model={{sections.id}} class="ui red button"><i class="trash icon"></i></LinkTo> </td>
        </tr>
        {{outlet sections.id}}
      {{/each}}
    </table>
  </div>
</fieldset>
